/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-peppermint);
  --body-background-colour: var(--colour-cello);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, lightblue, lavender, lightpink, beige);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  border: 1px solid black;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: red;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
